
@media screen and (min-width: 1025px) {
    .container{
        width: 90%;
    }
}

/* -------------------------Desktop or Laptop Devices----------------------- */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        width: 95%;
    }
    .menu ul{
        gap: 25px;
    }
    .menu ul .follow{
        gap: 10px;
    }
    .banner_content h1{
        font-size: 5rem;
    }
    .banner_content h2{
        font-size: 2rem;
    }
    .play_instant_container{
        gap: 20%;
    }
    .gamer_img, .gamer_content{
        width: 50%;
    }
    .play_instant_content h1, .play_instant_content p{
        width: 100%;
        text-align: right;
    }
    .single_card{
        width: 22%;
        overflow: hidden;
    }
    .play_instant_img .overflow_img{
        width: 50%;
        left: -80px;
    }
    .play_instant_content h1{
        font-size: 1.5rem;
    }
    .play_online_img .overflow_img2{
        width: 50%;
        right: -80px;
    }
    .careers_section{
        padding: 40px 10px;
    }
    .careers_container{
        gap: 0;
    }
    .careers_contant{
        width: 65%;
        gap: 0;
    }
    .careers_img{
        width: 35%;
    }

}



/* ----------------------------Tablet Devices------------------------- */


@media screen and (min-width: 597px) and (max-width: 768px) {
    .container{
        width: 97%;
    }
    .title_font {
        font-size: 2rem;
    }
    .logo{
        gap: 5px;
    }
    .menu ul li a{
        font-size: 1rem;
    }
    .menu ul{
        gap: 10px;
    }
    .menu ul .follow{
        gap: 10px;
        padding: 15px 8px;
    }
    .banner_content h1{
        font-size: 2.8rem;
    }
    .banner_content h2{
        font-size: 1.4rem;
    }
    .banner_section{
        flex-direction: column-reverse;
        padding: 20px;
        background-position: right bottom;
        background-size: contain;
        background-image: none;
    }
    .banner_content{
        background-image: url("../images/Group_14.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        width: 100%;
    }
    .banner_content > div{
        width: fit-content;
        margin: auto;
        padding: 80px 0;
    }
    .gamer_section_container{
        flex-direction: column;
    }
    .gamer_img, .gamer_content{
        width: 100%;
    }
    .gamer_content{
        text-align: center;
    }
    .card_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .single_card{
        width: 90%;
    }
    .play_instant_container, .careers_container{
        flex-direction: column;
    }
    .play_instant_content, .play_instant_img{
        width: 60%;
        margin-top: 40px;
    }
    .play_instant_content h1, .play_instant_content p{
        width: 100%;
        text-align: center;
    }
    .play_instant_img .overflow_img {
        bottom: -30px;
        left: -100px;
        width: 50%;
    }
    .online_section{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .play_online_section{
        margin: 40px 0;
    }
    .play_online_img .overflow_img2 {
        bottom: -30px;
        right: -100px;
        width: 50%;
    }
    .careers_contant, .careers_img{
        width: 100%;
    }
    .all_games_container ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
    }
}


/* ----------------------------Mobile Devices------------------------- */

@media screen and (max-width: 596px) {
    .header_content{
        box-shadow: none;
        padding-bottom: 20px;
    }
    .container{
        width: 90%;
    }
    .navbar, .menu ul{
        flex-direction: column;
        height: auto;
    }
    .menu ul{
        gap: 20px;
    }
    .logo{
        padding: 30px 0 10px;
    }
    .btn{
        font-size: 1rem;
    }
    .description_font{
        font-size: .7rem;
    }
    .banner_section{
        flex-direction: column-reverse;
        padding: 20px;
        background-position: right bottom;
        background-size: contain;
        background-image: none;
    }
    .banner_content{
        background-image: url("../images/Group_14.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        width: 100%;
    }
    .banner_content > div{
        width: fit-content;
        margin: auto;
        padding: 80px 0;
    }
    .banner_content h1{
        font-size: 2.8rem;
    }
    .banner_content h2{
        font-size: 1.4rem;
    }
    .banner_content .btn_container .second_btn{
        margin-left: 0;
    }
    .gamer_section_container, .card_container, .play_instant_container, .careers_container{
        flex-direction: column;
    }
    .gamer_img, .gamer_content{
        width: 100%;
    }
    .gamer_content{
        text-align: center;
    }
    .gamer_content h1{
        font-size: 2.3rem;
    }
    .online_section_title h1, .play_instant_content h1{
        font-size: 1.7rem;
    }
    .single_card{
        width: 90%;
        text-align: center;
    }
    .play_instant_content, .play_instant_img{
        width: 60%;
        margin-top: 40px;
    }
    .play_instant_content h1, .play_instant_content p{
        width: 100%;
        text-align: center;
    }
    .play_instant_img .overflow_img {
        bottom: -30px;
        left: -50px;
        width: 50%;
    }
    .online_section{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .play_online_section{
        margin: 40px 0;
    }
    .play_online_img .overflow_img2 {
        bottom: -30px;
        right: -50px;
        width: 50%;
    }
    .careers_section{
        padding: 40px 20px;
    }
    .careers_contant, .careers_img{
        width: 100%;
    }
    .occupation > p{
        font-weight: 500;
        font-size: .7rem;
    }
    .careers_contant > .btn{
        font-size: .9rem;
    }
    .all_games_section{
        padding: 80px 0;
    }
    .all_games_container ul li a img{
        width: 25px;
    }
    .all_games_container ul li a{
        font-size: .8rem;
        gap: 5px;
        padding: 0;
    }
    .all_games_container ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
    }
    .footer_container ul li a {
        font-size: .7rem;
      }
    .footer_container .social_btn{
        width: 60%;
        margin: auto;
        margin-top: 50px;
    }
    .footer_container .about_us{
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .footer_container .terms_section{
        width: 86%;
        margin: auto;
        margin-top: 50px;
    }

}