@media screen and (min-width: 1025px) and (max-width: 1399px) {
    .container{
        width: 95%;
    }
}





@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        width: 95%;
    }
    .menu ul{
        gap: 25px;
    }
    .menu ul .follow{
        gap: 10px;
    }
}






@media screen and (min-width: 597px) and (max-width: 768px) {
    .container{
        width: 97%;
    }
    .title_font {
        font-size: 2rem;
    }
    .logo{
        gap: 5px;
    }
    .menu ul li a{
        font-size: 1rem;
    }
    .menu ul{
        gap: 10px;
    }
    .menu ul .follow{
        gap: 10px;
        padding: 15px 8px;
    }
}






@media screen and (max-width: 596px) {
    .header_content{
        box-shadow: none;
        padding-bottom: 20px;
    }
    .container{
        width: 90%;
    }
    .navbar, .menu ul{
        flex-direction: column;
        height: auto;
    }
    .logo{
        margin: 30px 0;
    }
    .banner_section{
        flex-direction: column-reverse;
        background-image: none;
        padding: 30px;
    }
    .banner_content{
        background-image: url("../images/Group_14.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .banner_content h1{
        font-size: 4rem;
    }
    .banner_content h2{
        font-size: 2rem;
    }
    
}