
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --title_color: #0B0223;
    --primary_color: #534C64;
    --hover_color: #FF42A5;
}

/* ------------------Default Styles-------------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    font-weight: 600;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
.title_font{
    font-size: 3rem;
    font-weight: 600;
}
.description_font{
    font-size: 1rem;
    font-weight: 500;
}
.linear_color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.btn{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #FF42A5;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: .6s all ease-in-out;
}
.btn:hover{
    background-color: #4EC5F7;
}


/* -------------------Header Section------------------ */

#header{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}
.header_content{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 90px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu ul li a{
    font-size: 1.2rem;
    color: #3C354F;
    transition: .2s all ease-in-out;
}
.menu ul li a:hover{
    color: var(--hover_color);
}
.menu ul .follow{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    border-radius: 7px;
}
.menu ul .follow i{
    cursor: pointer;
}
.menu ul .follow i:hover{
    color: var(--hover_color);
}

/* ------------------Banner Section----------------------- */

.banner_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/Group_14.png");
    background-repeat: no-repeat;
    background-position: calc(-40%);
    padding: 0 80px;
}
.banner_content .banner_img{
    width: 50%;
}
.banner_content h2{
    color: var(--title_color);
}
.banner_content h1{
    font-size: 6rem;
    font-weight: 800;
    margin: 20px 0;
}
.banner_content p{
    margin-bottom: 10px;
}
.banner_content .btn_container{
    margin-top: 30px;
}
.banner_content .btn_container .second_btn{
    background-color: #4EC5F7;
    margin-left: 20px;
}
.banner_content .btn_container .second_btn:hover{
    background-color: var(--hover_color);
}


/* -------------------Gamer Section-------------------- */

.gamer_section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0;
}
.gamer_section_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer_img{
    width: 68%;
}
.gamer_content{
    width: 32%;
}
.gamer_content{
    text-align: right;
}
.gamer_content p, h4{
    color: var(--primary_color);
    margin: 20px 0;
}
.gamer_content h4{
    font-size: 1.2rem;
}
.gamer_content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


/* -----------------------Online Section----------------------- */

.online_section{
    margin: 80px auto;
}
.online_section_title{
    text-align: center;
}
.online_section_title h1{
    margin-bottom: 20px;
}
.card_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}
.single_card{
    width: 330px;
    margin: 0 auto;
    cursor: pointer;
}
.single_card p{
    margin-top: 20px;
}


/* --------------------Play Instant Section--------------------- */

.play_instant_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}
.play_instant_content, .play_instant_img{
    width: 50%;
}
.play_instant_content h1, .play_instant_content p{
    width: 350px;
    margin: auto;
    text-align: right;
}
.play_instant_content h1{
    margin-bottom: 20px;
}
.play_instant_img{
    position: relative;
}
.play_instant_img .overflow_img{
    position: absolute;
    bottom: -70px;
    left: -150px;
}


/* --------------------Play Online Section--------------------- */


.play_online_section{
    margin: 150px 0;
}
.play_online_container{
    flex-direction: row-reverse;
}
.play_online_content h1, .play_online_content p{
    text-align: left;
}
.overflow_img2{
    position: absolute;
    bottom: -70px;
    right: -150px;
}



/* -------------------------Careers Section------------------------ */

.careers_section{
    background-color: #FF42A5;
    padding: 50px;
}
.careers_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #fff;
}
.careers_contant, .careers_img{
    width: 50%;
}
.location_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.careers_contant > p{
    margin: 40px 0;
    font-size: .9rem;
}
.occupation p{
    font-weight: 700;
    margin-bottom: 10px;
}
.careers_contant > .btn{
    background-color: #fff;
    color: #FF42A5;
    margin-top: 30px;
    font-weight: 500;
}


/* --------------------All Games Section---------------------- */

.all_games_section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    padding: 150px 0;
}
.all_games_container ul{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.all_games_container ul li a img{
    width: 40px;
}
.all_games_container ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 7px 14px;
    border-radius: 40px;
    border: 2px solid transparent;
}
.all_games_container ul li a:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
}


/* ------------------------Footer Section----------------------- */

#footer{
    background-color: #0B0223;
    color: #fff;
    padding: 100px 0;
}
.footer_container{
    text-align: center;
}
._footer_logo{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.footer_container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.footer_container ul li a{
    color: #fff;
}
.footer_container ul li a:hover{
    color: var(--hover_color);
}
.footer_container .terms_section li a, .footer_container > p{
    color: #acacac;
}
.footer_container > p{
    margin-top: 80px;
    font-size: .7rem;
}
.terms_section li a{
    font-size: .9rem;
}

/*======================================================================================= */

/* -----------This is Help from Google and ChatGPT-------------- */


.img_container{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 98%;
    opacity: 0;
    background-color: #00000080;
    transition: opacity 0.3s ease;
    border-radius: 11px;
    border: 3px solid #F948B2;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: none;
    text-align: center;
    font-weight: 600;
  }
  .img_container:hover .overlay {
    opacity: 1;
  }
  .img_container:hover .text {
    display: block;
  }





