
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --title_color: #0B0223;
    --primary_color: #534C64;
    --hover_color: #e68608;
}

/* ------------------Default Styles-------------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    font-weight: 600;
}
li{
    list-style-type: none;
}
.title_font{
    font-size: 3rem;
    font-weight: 700;
}
.description_font{
    font-size: 1rem;
}
.linear_color{
    background-image: linear-gradient(to bottom, #c16f0f, #e893cf);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}



/* -------------------Header Section------------------ */

#header{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 90px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu ul li a{
    font-size: 1.2rem;
    color: #3C354F;
    transition: .2s all ease-in-out;
}
.menu ul li a:hover{
    color: var(--hover_color);
}
.menu ul .follow{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    border-radius: 7px;
}
.menu ul .follow i{
    cursor: pointer;
}
.menu ul .follow i:hover{
    color: var(--hover_color);
}








